h1[class*="info"] {
    font-size: 2em !important;
    margin-top: 1em;
    color: #33cccc;
    font-variant: small-caps;
}

h3[class*="info"] {
    font-variant: small-caps;
    font-family: 'Lora', serif;
}

h2[class*="info"] {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #444;
    font-size: 1.2em;
    padding-bottom: 1em;
    text-align: center;
}

h4[class*="info"] {
    color: #333;
    padding-left: 1em;
}

ul {
    list-style-type: none;
    line-height: 1.7em;
}

ul li {
    padding-bottom: 0.75em;
}

li a {
    float: right;
}

h3[class*="info"] a {
    text-decoration: none;
    float: none;
}

#continuelink {
    text-decoration: none;
    font-variant: small-caps;
    letter-spacing: 0.05em;
    font-weight: 700;
}
